<ion-header>
  <ion-toolbar color="success">
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-button [routerLink]="['/solicitud-viaje']"  style="margin-top: 5px;"color="success"expand="full">Solicitudes de Viajes</ion-button>-->
  <div style="height: 91%;" id="map"></div>

  <ion-button  color="success" style="
  margin-top: 10px; 
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fascinate&family=IBM+Plex+Mono:wght@500&family=Inconsolata:wght@200&family=Pacifico&family=Poppins:ital@1&display=swap');
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;" (click)="presentAlert()" expand="full" >Ver Coordenadas</ion-button>


</ion-content>