<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login-conductor"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding ion-text-center">

  <ion-text>
    <h1 style="font-weight: 600; font-size: 30px;">Crear una cuenta</h1>
    <ion-card-subtitle style="margin-bottom: 30px; font-size: 10px;">Crea una cuenta nueva</ion-card-subtitle>
  </ion-text>

  <ion-grid>
    <ion-row style="border: black 2px solid; border-radius: 20px;">
      <ion-col size="2"><ion-icon style="text-align: center; padding-top: 7px; padding-left: 10px; font-size: 25px;" name="person-outline"></ion-icon></ion-col>
      <ion-col size="10"><ion-input type="text" placeholder="Nombre" style="float: left; border-left: black 1px solid;"></ion-input></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row style="border: black 2px solid; border-radius: 20px;">
      <ion-col size="2"><ion-icon style="text-align: center; padding-top: 7px; padding-left: 10px; font-size: 25px;" name="mail-outline"></ion-icon></ion-col>
      <ion-col size="10"><ion-input type="text" placeholder="Correo Electronico" style="float: left; border-left: black 1px solid;"></ion-input></ion-col>
    </ion-row>
  </ion-grid>  

  <ion-grid>
    <ion-row style="border: black 2px solid; border-radius: 20px;">
      <ion-col size="2"><ion-icon style="text-align: center; padding-top: 7px; padding-left: 10px; font-size: 25px;" name="call-outline"></ion-icon></ion-col>
      <ion-col size="10"><ion-input type="tel" placeholder="Celular" style="float: left; border-left: black 1px solid;"></ion-input></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row style="border: black 2px solid; border-radius: 20px;">
      <ion-col size="2"><ion-icon style="text-align: center; padding-top: 7px; padding-left: 10px; font-size: 25px;" name="car-outline"></ion-icon></ion-col>
      <ion-col size="10"><ion-input type="tel" placeholder="Patente" style="float: left; border-left: black 1px solid;"></ion-input></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row style="border: black 2px solid; border-radius: 20px;">
      <ion-col size="2"><ion-icon style="text-align: center; padding-top: 7px; padding-left: 10px; font-size: 25px;" name="lock-closed-outline"></ion-icon></ion-col>
      <ion-col size="10"><ion-input type="password" placeholder="Contraseña" style="float: left; border-left: black 1px solid;"></ion-input></ion-col>
    </ion-row>
  </ion-grid> 
   
  <ion-grid>
    <ion-row style="border: black 2px solid; border-radius: 20px;">
      <ion-col size="2"><ion-icon style="text-align: center; padding-top: 7px; padding-left: 10px; font-size: 25px;" name="lock-closed-outline"></ion-icon></ion-col>
      <ion-col size="10"><ion-input type="password" placeholder="Confirmar Contraseña" style="float: left; border-left: black 1px solid;"></ion-input></ion-col>
    </ion-row>
  </ion-grid>  

  <ion-button [routerLink]="['/home-conductor']" color="success" id="open-modal" expand="block" 
  style="
  margin-top: 20px; 
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fascinate&family=IBM+Plex+Mono:wght@500&family=Inconsolata:wght@200&family=Pacifico&family=Poppins:ital@1&display=swap');
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;">CREAR CUENTA</ion-button>

  <p style="font-size: 12px;">¿Ya tienes una cuenta? <span> <a [routerLink]="['/login-conductor']" style="color:#20ad58; text-decoration: none;">Ingresa</a> </span></p>

</ion-content>
